<!-- Модальное окно маршрута -->
<div class="modal" id="routeModal">
    <div class="modal-content">
        <div class="modal-header">
            <button class="modal-close" id="modalClose">
                <i class="fas fa-times"></i>
            </button>
            <h2 id="modalTitle">Название маршрута</h2>
            <p id="modalSubtitle">Описание маршрута</p>
        </div>
        <div class="modal-body" id="modalBody">
            <!-- Содержимое будет загружено динамически -->
        </div>
    </div>
</div>